<div class="dialog">
  <div class="dialog-inner">
    <form id="carrier-form">
      <input type="hidden" name="resourceId" value="{{ this.carrier.id }}"/>

      <div>
        <span>{{ i18n.carrier.carrierName }}:</span>
        <input type="text" name="name" value="{{ this.carrier.name }}"/>
        <span>{{ i18n.carrier.enabled }}</span>
        <input class="carrier-checkbox" type="checkbox" name="enabled" {{#if carrier.enabled}}checked{{/if}}/>
      </div>

      <div>
        {{#each this.flags}}
          <div>
            <input class="carrier-checkbox" type="checkbox" name="{{this}}" {{#if (referenceProp ../carrier.flags this) }}checked{{/if}}/>
            <span>{{ this }}</span>
          </div>
        {{/each}}
      </div>

      <div class="mt">
        <input type="number" name="weight_cost" value="{{ this.carrier.weight_cost}}" />
        <span>Weight cost</span>
      </div>

      <div class="mt">
        <select name="caller_id_type">
          {{#select this.carrier.caller_id_type}}
            <option value="internal">internal</option>
            <option value="external">external</option>
            <option value="emergency">emergency</option>
          {{/select}}
        </select>
      </div>

      <h4>{{ i18n.carrier.rules }}:</h4>
      <ul class="card-list rule-list">
        {{#each carrier.rules}}
          {{> rule }}
        {{/each}}
      </ul>
      <button id="add-rule" class="mt">{{ i18n.carrier.addRule }}</button>

      <h4>{{ i18n.carrier.gateways }}:</h4>
      <ul class="card-list gateway-list">
        {{#each carrier.gateways}}
          {{> gateway }}
        {{/each}}
      </ul>
      <button id="add-gateway" class="mt">{{ i18n.carrier.addGateway }}</button>
    </form>
  </div>
</div>
