<div class="dialog">
  <div class="dialog-inner">
    <form id="edit-rate-form">
      <input type="hidden" name="_id" value="{{ this.rate.id }}"/>

      <table class="inline-table">
        <tr>
          <td>
            <span>{{ i18n.rate.prefix }}:</span>
          </td>
          <td>
            <input type="text" name="prefix" value="{{ this.rate.prefix }}" readonly/>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ i18n.rate.rateName }}:</span>
          </td>
          <td>
            <input type="text" name="rate_name" value="{{ this.rate.rate_name }}" />
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ i18n.rate.rateCost }}:</span>
          </td>
          <td>
            <input type="text" name="rate_cost" value="{{ this.rate.rate_cost }}" step="any"/>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ i18n.rate.rateWeigth }}:</span>
          </td>
          <td>
            <input type="number" name="weight" value="{{ this.rate.weight }}" />
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ i18n.rate.rateInbound }}:</span>
          </td>
          <td>
            <input type="checkbox" name="direction[]" value="inbound" {{#if (referenceProp @root.rate.direction "inbound") }}checked{{/if}}/>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ i18n.rate.rateOutbound }}:</span>
          </td>
          <td>
            <input type="checkbox" name="direction[]" value="outbound" {{#if (referenceProp @root.rate.direction "outbound") }}checked{{/if}}/>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
