<li id="gateway-{{either @index index}}" class="long-list-item">
  <div>
    <input type="text" name="gateways[]" value="{{ this.server }}" />
    <span>{{ @root.i18n.carrier.enabled }}</span>
    <input class="carrier-checkbox" type="checkbox" name="gatewaysEnabled[]" {{#if this.enabled}}checked{{/if}}/>
    <span class="pull-right">
      <i id="gateway-handle-{{either @index index}}" class="remove-gateway carrier-icon fa fa-trash"></i>
    </span>
  </div>
  <div>
    {{#each @root.codecs}}
      <div>
        <input class="carrier-checkbox" type="checkbox" name="{{this}}[]" {{#if (referenceProp ../codecs this) }}checked{{/if}}/>
        <span>{{ this }}</span>
      </div>
    {{/each}}
  </div>
  <div class="mt">
    <input type="text" name="gatewaysRoute[]" value="{{ this.route }}" />
    <span>{{ @root.i18n.carrier.route }}</span>
  </div>
  <div class="mt">
    <input type="text" name="gatewaysUsername[]" value="{{ this.username }}" />
    <span>{{ @root.i18n.carrier.username }}</span>
    <input type="password" name="gatewaysPassword[]" value="{{ this.password }}" />
    <span>{{ @root.i18n.carrier.password }}</span>
  </div>
  <div class="mt">
    <input type="text" name="gatewaysPrefix[]" value="{{ this.prefix }}" />
    <span>{{ @root.i18n.carrier.prefix }}</span>
  </div>
  <div class="mt">
    <input type="text" name="gatewaysSuffix[]" value="{{ this.suffix }}" />
    <span>{{ @root.i18n.carrier.suffix }}</span>
  </div>
  <div class="mt">
    <input type="number" name="gatewaysProgressTimeout[]" value="{{ this.progress_timeout }}" />
    <span>{{ @root.i18n.carrier.progressTimeout }}</span>
  </div>
</li>
