<div id="rate_wrapper" class="app-container">
	<div class="hero-unit well">
		<h2>{{ replaceVar i18n.rate.welcome user.username }}</h2>
		<p>{{ i18n.rate.description }}</p>
	</div>
  <div>
    <form id="rate-form">
      <input type="file" name="csv">
      <button id="import-rates">{{ i18n.rate.importRates }}</button>
      <button id="export-rates">{{ i18n.rate.exportRates }}</button>
      <button id="delete-rates">{{ i18n.rate.deleteRates }}</button>
    </form>
  </div>
  <div class="rates"></div>
</div>
