<div class="rates-wrapper">
  <h3>{{ i18n.rates.listOfRates }}</h3>
  <ul class="card-list">
  {{#each ratesList}}
    <li class="card-list-item">
      <table class="inline-table">
        <tr>
          <td>({{this.prefix}})</td>
          <td>${{this.cost}}</td>
        </tr>
      </table>
      <span class="pull-right">
        <i data-id="{{this.id}}" class="edit-rate app-icon fa fa-gear"></i>
      </span>
    </li>
  {{else}}
    <li>{{ @root.i18n.rate.noRates }}</li>
  {{/each}}
  </ul>
</div>
